@media (max-width: 768px) {
  #navbar {
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
  }

  #navbar .logo {
    text-align: left;
  }

  #navbar ul {
    text-align: right;
  }

  #navbar ul {
    justify-content: flex-end;
  }

  #navbar .social-icons {
    display: none;
  }

  #news {
    margin: 1rem 1rem;
  }

  #footer {
    padding: 1rem 0;
  }

  #footer h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }

  #footer .logo img {
    width: 80px;
  }

  #footer .join-us,
  #footer .links,
  #footer .follow-us {
    padding: 0 10px;
  }

  #footer .links li {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  #news .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 415px) {
  #news .content {
    grid-template-columns: repeat(1, 1fr);
  }
  #footer > div {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    text-align: center;
    font-size: 0.8rem;
  }
  #footer .logo,
  #footer .join-us,
  #footer .links,
  #footer .follow-us {
    align-items: center;
    font-size: 0.8rem;
  }
}
