:root {
  --primary-color: #e76f51;
  --secondary-color: #2a9d8f;
  --light-color: #f8f9fa;
  --dark-color: #6c757c;
  --max-width: 1100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

/* Utils CSS */
.btn {
  display: inline-block;
  width: fit-content;
}

.btn-block {
  margin: 0.5rem 0;
}

.btn:hover {
  opacity: 0.8;
}

.btn-selected,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--light-color);
  padding: 0.4rem 0.7rem;
  border-radius: 4px;
}

.budge-sport {
  background-color: var(--light-color);
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  color: var(--dark-color);
  width: fit-content;
}

.budge-health {
  background-color: var(--primary-color);
  padding: 0.3rem 0.8rem;
  border-radius: 15px;
  color: var(--light-color);
  width: fit-content;
}

.news-card {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 1rem;
}

/* Navbar */
#navbar {
  background-color: var(--light-color);
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  padding: 10px 5%;
  position: sticky;
  top: 0;
  z-index: 5;
}

#navbar .logo img {
  max-width: 70px;
}

#navbar .logo {
  text-align: center;
}

#navbar .social-icons {
  justify-content: flex-start;
}

#navbar .social-icons a {
  margin: 0 0.2rem;
}

#navbar ul li {
  margin: 0 0.6rem;
}

#navbar ul,
#navbar .social-icons {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: var(--dark-color);
}

/* Header */
#header {
  height: 60vh;
  background: url(img/rowing.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#header * {
  z-index: 3;
}

#header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.6);
}

#header .content {
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  width: 700px;
  margin-left: 15%;
  height: 100%;
  justify-content: center;
}

/* News */
#news {
  display: flex;
  flex-direction: column;
  margin: 1rem 12rem;
}

#news header {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
